.footer {
  height: 150px;
  background-color: #1967d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.footer_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.footer_icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin: 0 5px;
}

.footer_copyright > p {
  display: flex;
  color: whitesmoke;
}
